openapi: 3.2.0
info:
  title: Shodan REST Bulk Data API
  description: The Shodan REST API exposes search methods, host lookups, on-demand scanning, network alerts, notifiers, the saved-query directory, DNS lookups, utility methods, account/profile information, bulk data, and organization management for the Shodan search engine for Internet- connected devices.
  version: '1.0'
  contact:
    name: Shodan Support
    email: support@shodan.io
    url: https://developer.shodan.io/
  license:
    name: Shodan API Terms of Service
    url: https://www.shodan.io/legal/tos
servers:
- url: https://api.shodan.io
  description: Production
security:
- apiKey: []
tags:
- name: Bulk Data
  description: Enterprise bulk data exports.
paths:
  /shodan/data:
    get:
      tags:
      - Bulk Data
      summary: List Bulk Data Sets
      operationId: listBulkDatasets
      description: Returns the list of bulk data sets available to the account. Enterprise only.
      responses:
        '200':
          description: Dataset list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
  /shodan/data/{dataset}:
    get:
      tags:
      - Bulk Data
      summary: List Bulk Data Files
      operationId: listBulkDatasetFiles
      description: Returns the list of files available within a bulk dataset. Enterprise only.
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File list.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    size:
                      type: integer
                    timestamp:
                      type: string
                      format: date-time
                    url:
                      type: string
                      format: uri
components:
  schemas:
    Dataset:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Shodan API key.
