openapi: 3.2.0
info:
  title: Shodan REST Organization API
  description: The Shodan REST API exposes search methods, host lookups, on-demand scanning, network alerts, notifiers, the saved-query directory, DNS lookups, utility methods, account/profile information, bulk data, and organization management for the Shodan search engine for Internet- connected devices.
  version: '1.0'
  contact:
    name: Shodan Support
    email: support@shodan.io
    url: https://developer.shodan.io/
  license:
    name: Shodan API Terms of Service
    url: https://www.shodan.io/legal/tos
servers:
- url: https://api.shodan.io
  description: Production
security:
- apiKey: []
tags:
- name: Organization
  description: Enterprise organization management.
paths:
  /org:
    get:
      tags:
      - Organization
      summary: Get Organization
      operationId: getOrganization
      description: Returns information about the organization the account is part of.
      responses:
        '200':
          description: Organization info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  upgrade_type:
                    type: string
                  domains:
                    type: array
                    items:
                      type: string
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        username:
                          type: string
                        email:
                          type: string
  /org/member/{user}:
    put:
      tags:
      - Organization
      summary: Add Organization Member
      operationId: addOrganizationMember
      description: Add a user to the organization.
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      - name: notify
        in: query
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Add result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
    delete:
      tags:
      - Organization
      summary: Remove Organization Member
      operationId: removeOrganizationMember
      description: Remove a user from the organization.
      parameters:
      - name: user
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Remove result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Shodan API key.
