openapi: 3.2.0
info:
  title: Shodan REST Directory API
  description: The Shodan REST API exposes search methods, host lookups, on-demand scanning, network alerts, notifiers, the saved-query directory, DNS lookups, utility methods, account/profile information, bulk data, and organization management for the Shodan search engine for Internet- connected devices.
  version: '1.0'
  contact:
    name: Shodan Support
    email: support@shodan.io
    url: https://developer.shodan.io/
  license:
    name: Shodan API Terms of Service
    url: https://www.shodan.io/legal/tos
servers:
- url: https://api.shodan.io
  description: Production
security:
- apiKey: []
tags:
- name: Directory
  description: Browse and search saved Shodan queries.
paths:
  /shodan/query:
    get:
      tags:
      - Directory
      summary: List Saved Queries
      operationId: listSavedQueries
      description: Browse the directory of community-saved Shodan queries.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - votes
          - timestamp
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: List of saved queries.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /shodan/query/search:
    get:
      tags:
      - Directory
      summary: Search Saved Queries
      operationId: searchSavedQueries
      description: Search the directory of saved Shodan queries.
      parameters:
      - $ref: '#/components/parameters/Query'
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /shodan/query/tags:
    get:
      tags:
      - Directory
      summary: List Popular Query Tags
      operationId: listSavedQueryTags
      description: Returns the most popular tags assigned to saved queries.
      parameters:
      - name: size
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Tag list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  parameters:
    Query:
      name: query
      in: query
      required: true
      schema:
        type: string
      description: Shodan search query.
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Shodan API key.
