openapi: 3.2.0
info:
  title: Shodan REST Utility API
  description: The Shodan REST API exposes search methods, host lookups, on-demand scanning, network alerts, notifiers, the saved-query directory, DNS lookups, utility methods, account/profile information, bulk data, and organization management for the Shodan search engine for Internet- connected devices.
  version: '1.0'
  contact:
    name: Shodan Support
    email: support@shodan.io
    url: https://developer.shodan.io/
  license:
    name: Shodan API Terms of Service
    url: https://www.shodan.io/legal/tos
servers:
- url: https://api.shodan.io
  description: Production
security:
- apiKey: []
tags:
- name: Utility
  description: Helper endpoints for HTTP headers and IP detection.
paths:
  /tools/httpheaders:
    get:
      tags:
      - Utility
      summary: Get Request HTTP Headers
      operationId: getHttpHeaders
      description: Returns the HTTP headers seen by the Shodan server.
      responses:
        '200':
          description: Request headers as a map.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /tools/myip:
    get:
      tags:
      - Utility
      summary: Get Client IP
      operationId: getMyIp
      description: Returns the IP address that the request was issued from.
      responses:
        '200':
          description: Plain-text IP address.
          content:
            application/json:
              schema:
                type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Shodan API key.
